* {
  --special-color: #2980b9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}
*::selection {
  color: white;
  background-color: var(--special-color);
}
*::-moz-selection {
  color: white;
  background-color: var(--special-color);
}
*:focus {
  outline: none;
  box-shadow: 0 0 2px var(--special-color);
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-icon {
  width: 32px;
  height: 32px;
  border: solid 5px #999;
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotate 0.6s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[ng-cloak] {
  display: none !important;
}
[ng-cloak] ~ .loader {
  display: block !important;
}

html,
body,
#main,
#main > div,
.drag-and-drop {
  width: 100%;
  height: 100%;
}
body {
  padding: 30px;
  background-color: #eee;
}

/**
 * drag and drop
 */
@keyframes scale {
  from {transform: scale(.5);}
  to {transform: scale(1);}
}
.drag-and-drop {
  display: block;
  position: relative;
  outline: dashed 2px #3693d4;
  outline-offset: -30px;
  background-color: #b3d6ef;
  transition: .15s all;
  animation: scale .15s;
}
.drag-and-drop .text {
  color: #3693d4;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.drag-and-drop.agu-active {
  background-color: #9ac9e9;
}

/**
 * container
 */
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0px;
  border: solid 1px #ddd;
  overflow-y: auto;
  background-color: white;
}

.disabled {
  text-decoration: line-through;
  background-color: #eee;
}

/**
 * tags
 */
.tags {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}
.tags * {
  user-select: none;
}
.tags *::selection {
  color: black;
  background-color: none;
}
.tags *::-moz-selection {
  color: black;
  background-color: none;
}
.tags-tag {
  padding: 2px 0;
  flex: auto;
  text-align: center;
  font-size: 12px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tags-tag input[type="checkbox"] {
  transform: translateY(1.5px);
}
.tags-tag:hover {
  background-color: #f8f8f8;
}

/**
 * tag
 */
.tag {
  padding: 2px 4px;
  user-select: all;
  font-family: monospace;
  background-color: #ffff9d;
}

/**
 * highlight
 */
.hi {
  padding: 0 3px;
  font-weight: bold;
  color: red;
  background-color: #eee;
}

/**
 * inputs
 */
.inputs {
  display: flex;
  margin-bottom: 10px;
  align-items: baseline;
}
.inputs .inputs-item {
  flex: auto
}
.inputs * {
  font-size: 14px;
}
.inputs .input {
  width: 100%;
  padding: 8px 16px;
  border: solid 1px #bbb;
}
.inputs .input::-webkit-inner-spin-button {
  opacity: 1;
}
.inputs  .inputs-item-text {
  flex: initial;
}
.inputs .inputs-item-text span {
  padding: 0 15px;
}

/**
 * table
 */
.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.table * {
  font-size: 14px;
}
.table tr,
.table th,
.table td {
  padding: 10px;
  border: solid 1px #ddd;
}
.table .value {
  display: flex;
  align-items: center;
}
.table .value-item {
  flex: 1;
}
.table tbody tr:not(.disabled):hover {
  background-color: #f8f8f8;
}
.table .not-found {
  padding: 20px 0 !important;
  text-align: center;
  color: red;
}
.table .center {
  text-align: center;
}

/**
 * copy buttons
 */
.copy {
  font-size: 10px;
  font-weight: bold;
  font-family: "Segoe UI Symbol";
  padding: 2px 4px;
  color: #2c3e50;
}
.copy-all {
  padding: 0 3px;
  font-size: 8px;
  font-weight: bold;
  color: #2c3e50;
}

/**
 * cursors
 */
.cur-help {
  cursor: help;
}
.cur-progress {
  cursor: progress;
}