<div class="data">

  <!-- FILTERS -->

  <div class="filters">
    <div class="filters__item">
      <input
        ng-model="vm.start1"
        class="filters__input"
        type="number"
        placeholder="INÍCIO">
    </div>

    <div class="filters__item filters__item--text">
      <span class="text">ATÉ</span>
    </div>

    <div class="filters__item">
      <input
        ng-model="vm.end1"
        class="filters__input"
        type="number"
        placeholder="FIM">
    </div>

    <div class="filters__item  filters__item--text">
      <span class="text">+</span>
    </div>

    <div class="filters__item">
      <input
        ng-model="vm.start2"
        class="filters__input"
        type="number"
        placeholder="INÍCIO (OPCIONAL)">
    </div>

    <div class="filters__item  filters__item--text">
      <span class="text">ATÉ</span>
    </div>

    <div class="filters__item">
      <input
        ng-model="vm.end2"
        class="filters__input"
        type="number"
        placeholder="FIM (OPCIONAL)">
    </div>
  </div>

  <!-- ETIQUETAS -->

  <div class="tags">
    <label class="tags__tag" title="ATO ORDINATÓRIO">
      <input type="checkbox" ng-model="vm.tags['ATO ORDINATÓRIO']">
      ATO ORDINATÓRIO
    </label>
    <label class="tags__tag" title="SENTENÇA">
      <input type="checkbox" ng-model="vm.tags['SENTENÇA']">
      SENTENÇA
    </label>
    <label class="tags__tag" title="DECISÃO">
      <input type="checkbox" ng-model="vm.tags['DECISÃO']">
      DECISÃO
    </label>
    <label class="tags__tag" title="DECISÃO JEF">
      <input type="checkbox" ng-model="vm.tags['DECISÃO JEF']">
      DECISÃO JEF
    </label>
    <label class="tags__tag" title="DESPACHO">
      <input type="checkbox" ng-model="vm.tags['DESPACHO']">
      DESPACHO
    </label>
    <label class="tags__tag" title="DESPACHO JEF">
      <input type="checkbox" ng-model="vm.tags['DESPACHO JEF']">
      DESPACHO JEF
    </label>
    <label class="tags__tag" title="CITAÇÃO">
      <input type="checkbox" ng-model="vm.tags['CITAÇÃO']">
      CITAÇÃO
    </label>
    <label class="tags__tag" title="CITAÇÃO COM AUDIÊNCIA">
      <input type="checkbox" ng-model="vm.tags['CITAÇÃO COM AUDIÊNCIA']">
      CITAÇÃO COM AUDIÊNCIA
    </label>
    <label class="tags__tag cur--help" title="Para etiquetas não identificadas.">
      <input type="checkbox" ng-model="vm.tags['OUTROS']">
      <i>OUTROS</i>
    </label>
  </div>

  <!-- TABELA -->

  <table
    ng-if="vm.data"
    class="table">

    <thead>
      <tr>
        <th>#</th>
        <th>DOC./ETIQUETA</th>
        <th>
          Nº DO PROCESSO
          <button
            agu-clipboard
            agu-clipboard-text="{{vm.data | search:vm.start1:vm.end1:vm.start2:vm.end2:vm.tags | getBlock}}"
            agu-clipboard-message="Copiado!"
            class="copy copy--block">COPIAR BLOCO</button>
        </th>
        <th>PRAZO</th>
        <th>DATA INICIAL</th>
        <th>DATA FINAL</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="vm.data | search:vm.start1:vm.end1:vm.start2:vm.end2:vm.tags | isEmpty">
        <td colspan="6" class="notFound">
          <p>NADA ENCONTRADO!</p>
        </td>
      </tr>
      <tr
        ng-repeat="doc in vm.data | search:vm.start1:vm.end1:vm.start2:vm.end2:vm.tags"
        ng-class="{'disabled': doc.pronto}">

        <td class="center">
          <input type="checkbox" ng-model="doc.pronto">
        </td>
        <td>
          <div class="cell">
            <p class="cell__value">
              <span class="tag">{{doc.documento}}</span>
            </p>
            <button
              agu-clipboard
              agu-clipboard-text="{{doc.documento}}"
              agu-clipboard-new-color="#d35400"
              class="copy">&#x1F4CB;</button>
          </div>
        </td>
        <td>
          <div class="cell">
            <p class="cell__value">
              <agu-html value="{{doc.processo}}"></agu-html>
            </p>
            <button
              agu-clipboard
              agu-clipboard-text="{{doc.processo | onlyNumbers}}"
              agu-clipboard-new-color="#d35400"
              class="copy">&#x1F4CB;</button>
          </div>
        </td>
        <td class="center"><i>{{doc.prazo}}</i></td>
        <td>
          <div class="cell">
            <p class="cell__value">{{doc.dataInicial}}</p>
            <button
              agu-clipboard
              agu-clipboard-text="{{doc.dataInicial}}"
              agu-clipboard-new-color="#d35400"
              class="copy">&#x1F4CB;</button>
          </div>
        </td>
        <td>
          <div class="cell">
            <p class="cell__value">{{doc.dataFinal}}</p>
            <button
              agu-clipboard
              agu-clipboard-text="{{doc.dataFinal}}"
              agu-clipboard-new-color="#d35400"
              class="copy">&#x1F4CB;</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>